<h1>Answer</h1>
<div class="left-border-red">
<p> <%= @input %> </p>
<p> -- You </p>

</div>
<div class="answer left-border-green">
  <p> <%= @result %></p>
  <p>  -- Your coach </p>
</div>
<%= link_to "Return to Ask", ask_path %>

